<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApp5.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Licensing" publicKeyToken="632609b4d040f6b4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-20.3460.0.60" newVersion="20.3460.0.60" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <WindowsFormsApp5.Properties.Settings>
      <setting name="connectionString" serializeAs="String">
        <value>Data Source=LAPTOP-TMCGM84D; Initial Catalog=MultidimensionalProject3</value>
      </setting>
    </WindowsFormsApp5.Properties.Settings>
  </userSettings>
</configuration>